<div class="container">
      <div class="table-responsive">
        <h1 class="text-center">Cursos Disponibles</h1>
            <table class="table table-striped">
              <tr>
                <th class="active">Codigo</th>
                <th class="active">Nombre</th>
                <th class="active">Fecha Inicio</th>
                <th class="active">Fecha fin</th>
                <th class="active">ver</th>
                <th class="active">Editar</th>
              </tr>
              <% @cursos.each do |curso| %>
                  <tr>
                    <td><%=curso.codigo%></td>
                    <td><%=curso.nombre%></td>
                    <td><%=curso.fecha_inicio%></td>
                    <td><%=curso.fecha_fin%></td>
                    <td><%= link_to "ver", curso_path(curso.id), class: "btn btn-outline-success" %></td>
                    <td><%= link_to "Editar", edit_curso_path(curso.id), class: "btn btn-outline-warning" %></td>
                  </tr>
            </table>
      </div>
<% end %>
<%= link_to "Registrar Curso", new_curso_path, class:"btn btn-outline-primary" %>
