<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Cosmo</h3>
            <strong>CM</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
              <a href="<%= root_path %>">
                  <i class="fas fa-home"></i>
                  Inicio
              </a>

            </li>
            <li>
                <a href=" <%= docentes_path %>">
                    <i class="fa fa-university"></i>
                    Docentes
                </a>
                <a href=" <%= estudiantes_path %>">
                    <i class="fa fa-graduation-cap"></i>
                    Estudiantes
                </a>
                <a href=" <%= cursos_path %>">
                    <i class="fa fa-leanpub"></i>
                    Cursos
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                          <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-danger" do %>
                          Cerrar sesión
                          <%end%>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
